config TRUSTED_FOUNDATIONS
	bool "Enable TF Driver"
	default n
	help
	  This option adds kernel support for communication with the Trusted Foundations.
	  If you are unsure how to answer this question, answer N.

